
@{
    ViewBag.Title = "Create";

}


<div >

    <form method="post" class="aa-login-form">
        <h2>Create Category</h2>
        <label>Name</label>
        <input class="form-control" name="Name" />

        <br />

        <label>Description</label>
        <input class="form-control" name="Description" />

        <br />

        <label>Image</label>
        <input type="hidden" id="ImageURL" name="ImageURL" />
        <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png,.jpg" />

        <img  id="categoryImage" />


        <br />

        @*<div class="custom-control custom-switch">
            <label class="custom-control-label" for="isFeatured">Is Featured?</label>
            <input type="checkbox" class="custom-control-input" id="isFeatured">
        </div>*@

        <div class="custom-control custom-switch">

            <label>Is Featured?</label>
            <input type="checkbox" name="isFeatured" value="true" />
            <input type="hidden" value="false" name="isFeatured" />
        </div>

        @*<input type="radio" name="isFeatured" value="True"/>True
        <input type="radio" name="isFeatured" value="False"/>False*@


        <button class="aa-browse-btn btn" type="submit">Save</button>
    </form>
</div>


<script>
    $("#imageUpload").change(function () {
        var elements = this;
        var formData = new FormData();

        var totalFiles = elements.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = elements.files[i];
            formData.append("Photo", file);
        }

        $.ajax(
            {
                type: "Post",
                url: '/Shared/UploadImage',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,

                success: function (result) {

                    console.log(result);

                    if (result.Success) {
                        $("#ImageURL").val(result.ImageURL);
                        $("#categoryImage").attr("src", result.ImageURL);
                    }
                },
                error: function (result) {
                    console.log(result);
                }


            });
    });

</script>