@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container product-search-bar">
    <div id="tblContainer">

        @{
            Html.RenderAction("CategoryTable");

        }
    </div>
    <hr />

    <div id="actionContainer">

    </div>

</div>


