@model NewProductViewModel
@{
    ViewBag.Title = "Create";

}

<h2>Create Product</h2>


<div class="col-md-6">
    <div class="aa-myaccount-login">
        
        <form action="" id="createProduct" class="aa-login-form">
            <label>Category</label>
            <select class="form-control" name="CategoryID">
                @foreach (var category in Model.AvailableCategories)
                {

                    <option value="@category.ID">@category.Name</option>
                }
            </select><br />
            <label>Name</label>
            <input class="form-control" name="Name" /><br />

            <label>Description</label>
            <input class="form-control" name="Description" /><br />

            <label>Price</label>
            <input class="form-control" name="Price" />

            <button type="button" id="saveBtn" class="aa-browse-btn btn">Add</button>
        </form>
    </div>
</div>






<script>

    $("#saveBtn" ).on("click",function () {
        

        $.ajax(
            {
                type: "Post",
                url: '@Url.Action("Create", "Product")',
                data: $("#createProduct").serialize(),

                success: function (result) {
                    $("#tblContainer").html(result);
                    $("#actionContainer").html("");
                    
                },
                error: function (result) {
                    console.log(result);
                }


            });
    });
</script>